<script>
  import CardAuthor from '$lib/components/CardAuthor.svelte'
	export let data;
</script>

<svelte:head>
	<title>The Good Docs Project Authors</title>
	<meta name="description" content="The Good Docs Project Authors landing page." />
</svelte:head>

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">The Good Docs Project Authors</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600 prose max-w-none">Contributors to The Good Docs Project <a href="/blog">Blog</a> and <a href="/tactic">Tactic</a> articles.</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-12 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {#each data.authors as author}
      <CardAuthor {author} />
      {/each}
    </div>
  </div>
</div>