<script>
	export let data;
</script>

<article class="px-6 py-8 lg:px-8 max-w-4xl mx-auto">
  <div class="relative flex flex-col md:flex-row">
    <div class="md:pr-6 md:pt-16">
      <Share frontmatter={data.article} content_type="tactic" />
    </div>
    <div class="max-w-3xl text-base leading-7 text-gray-700">
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{data.article.title}</h1>
      {#if data.article.author}
      <div class="py-4">
        <AuthorInfo post={data.article} />
      </div>  
      {/if}
      {#if data.article.summary}
      <p class="mb-6 text-xl leading-8">{data.article.summary}</p>
      {/if}
      {#if data.article.image}
        <!-- Post Featured Image -->
        <img class="aspect-video rounded-xl bg-gray-50 object-cover" src="https://tgdp-assets.imgix.net/{ data.article.image }?w=768&ar=16:9&fit=crop&crop=faces,center&q=80&auto=compress,format" alt="{ data.article.alt }">
      {/if}
      <div class="prose max-w-3xl">
        {@html data.article.html}
      </div>
    </div>
  </div>  
</article>