<script>
  import Nav from "$lib/components/Nav.svelte";
  import Footer from "$lib/components/Footer.svelte";
</script>

<div class="flex flex-col h-screen justify-between">
  <Nav />

  <div class="flex-grow mb-auto">
    <slot />
  </div>
  
  <Footer />
</div>
