<script>
  import Blocks from '$lib/layouts/Blocks.svelte'
	export let data;
  let page_title = data.attributes.doctitle ? data.attributes?.doctitle : data.frontmatter.title;
  let page_summary = data.attributes.doctitle ? data.attributes?.doctitle : data.frontmatter.title;
</script>

<svelte:head>
	<title>{page_title}</title>
	<meta name="description" content={data.attributes?.summary} />
</svelte:head>

<Blocks {data} />
