<script>
  import WordCloud from "svelte-d3-cloud";
  export let data;
</script>

<svelte:head>
	<title>The Good Docs Project Blog Tag Cloud</title>
	<meta name="description" content="The Good Docs Project Blog Tags" />
</svelte:head>

<div class="prose max-w-none">
	<h1>Tag Cloud for The Good Docs Project Blog</h1>
  <p>All tags from the blog, sized by frequency.</p>
  
  <div class="not-prose">
    <WordCloud words={data.blogs.tags} minRotate=0 maxRotate=5  />
  </div>

  <h2>Tags List by Count</h2>
  <ul>
    {#each data.blogs.tags as tag}
    <li><a href="/blog/tag/{tag.text}">{tag.text}</a> - {tag.count}</li>
    {/each}
  </ul>
</div>
