<script>
  export let data
</script>

<svelte:head>
	<title>The Good Docs Project Template Guides</title>
	<meta name="description" content="Guides to all Templates developed by The Good Docs Project." />
</svelte:head>

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">The Good Docs Project Templates</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600 prose max-w-none">Guides to all Templates developed by The Good Docs Project.</p>
    </div>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 mt-16">
      {#each data.templates as template}
      <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
        <div class="min-w-0 flex-1">
          <a href="/template/{template.name.split("/")[1].split(".")[0]}" class="focus:outline-none">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900 uppercase">{template.name.slice(0,-3).split("/")[1].replace("guide","").replaceAll("/", " > ").replaceAll("-"," ").replaceAll("template","")}</p>
          </a>
        </div>
      </div>
      {/each}
    </div>
  </div>
</div>