<script>
	export let data;
</script>

<article class="prose w-full max-w-3xl mx-auto py-8 px-4">
  <div>
    <p>Please see the source of this guide in the <a rel="external" target="_blank" href="https://gitlab.com/tgdp/templates/-/blob/main/{data.template.name}">template repository</a>.</p>
  </div>
  <div class="html-content">{@html data.template.html}</div>
</article>