<script>
	import Blocks from '$lib/layouts/Blocks.svelte';
	export let data;
</script>

<svelte:head>
	<title>{data.frontmatter?.title}</title>
	<meta name="description" content={data.attributes?.summary} />
</svelte:head>

{#if data.frontmatter.layout == 'blocks'}
	<Blocks {data} />
{:else}
	Nothing to see here.
{/if}
