@tailwind base;
@tailwind components;

#toctitle {
  @apply text-black font-bold text-2xl
}

#toc ul {
  @apply list-none
}

.halign-center {
  @apply text-center
}

.quoteblock {
  @apply bg-slate-50 px-4 py-2
}

div.imageblock > div.title {
  @apply text-tgdp-blue text-center
}

video {
  @apply inline-block
}

.el-radio__label {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.cog-button--submit {
  @apply rounded-md bg-tgdp-disco px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-tgdp-disco focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-tgdp-disco
}

span.inline img {
  @apply inline-block mb-0 mt-0
}

h2 {
  @apply relative
}

h1 > a.anchor,
h2 > a.anchor,
h3 > a.anchor,
#toctitle > a.anchor,
.sidebarblock > .content > .title > a.anchor,
h4 > a.anchor,
h5 > a.anchor,
h6 > a.anchor {
	position: absolute;
	z-index: 1001;
	width: 1.5ex;
	margin-left: -1.5ex;
	display: block;
	text-decoration: none !important;
	visibility: hidden;
	text-align: center;
	font-weight: 400;
}
#content h1 > a.anchor:before,
h2 > a.anchor:before,
h3 > a.anchor:before,
#toctitle > a.anchor:before,
.sidebarblock > .content > .title > a.anchor:before,
h4 > a.anchor:before,
h5 > a.anchor:before,
h6 > a.anchor:before {
	content: '\00A7';
	font-size: 1em;
	display: block;
}
#content h1:hover > a.anchor,
#content h1 > a.anchor:hover,
h2:hover > a.anchor,
h2 > a.anchor:hover,
h3:hover > a.anchor,
#toctitle:hover > a.anchor,
.sidebarblock > .content > .title:hover > a.anchor,
h3 > a.anchor:hover,
#toctitle > a.anchor:hover,
.sidebarblock > .content > .title > a.anchor:hover,
h4:hover > a.anchor,
h4 > a.anchor:hover,
h5:hover > a.anchor,
h5 > a.anchor:hover,
h6:hover > a.anchor,
h6 > a.anchor:hover {
	visibility: visible;
}

@tailwind utilities;