<script>
  export let post
  let mult_authors = post.authors.length > 1
</script>

<div>
  {#if post.authors }
  <span>
    {#each post.authors as author}
      <a class="text-tgdp-disco" href="/author/{author.id}">{author.name}</a>
      {#if !mult_authors }
      <span class="d-none d-sm-inline">&nbsp;&mdash;</span>
      <span class="inline-block text-sm leading-5 text-left sm:inline text-gray-400 prose">
        { author.description }
      </span>
      {/if}        
    {/each}
  </span>
  <br>
  {/if}
  <div class="text-sm text-gray-400 flex space-x-2 items-center">
    {#if post.date}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
    </svg>
    <span class="whitespace-nowrap">      
      {post.date}{#if post.lastmod}, <span class="text-nowrap">updated {post.lastmod}</span>{/if}
    </span>
    {/if}
    {#if post.wordcount}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>    
    <span class="whitespace-nowrap">
      {post.wordcount} words
    </span>
    {/if}
  </div>
  
</div>