<script>
  export let tactic;
</script>

<div class="w-full">
  <a
    href="/tactic/{tactic.slug}"
    class="block h-full bg-white rounded-sm border border-gray-300 border-solid cursor-pointer text-sky-600 hover:outline-0"
    style="text-decoration: none; transition: all 0.2s ease-in-out 0s;"
  >
    <div class="pt-6 h-48 text-center lg:h-64" style="line-height: 0px;">
      <img
        src="https://tgdp-assets.imgix.net/document-svgrepo-com.svg"
        class="py-4 px-0 max-w-full max-h-full border-none mx-auto"
        alt="{tactic.name} illustration"
        style="line-height: 0px;"
      />
    </div>

    <div class="self-end p-6 text-center lg:p-8">
      <h3 class="mt-0 mb-2 font-sans text-lg font-medium leading-tight md:text-xl">
        {tactic.name}
      </h3>
      <div class="mb-0 text-gray-600">
        <p class="mt-0 mb-2">
          Tips for self-care and avoiding burnout as a maintainer.
        </p>
      </div>
    </div>
  </a>
</div>