<script>
export let author
</script>

<a href="/author/{ author.slug }">
  <article class="flex flex-col items-start gap-4 not-prose">
    <div class="relative w-full">
      <img src="https://tgdp-assets.imgix.net/{ author.image }?fit=clip,fill&fill=solid&fill-color=FFFFFF&bg=FFFFFF&w=672&h=672&auto=compress,format" alt="" class="aspect-square w-full rounded-2xl bg-gray-100 object-cover">
      <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
    </div>
    <div class="max-w-xl">
      <div class="group relative flex flex-col justify-start">
        <div class="flex flex-row items-baseline space-x-2">
          <h3 class="text-lg font-semibold leading-6 text-tgdp-blue group-hover:text-tgdp-disco">
            <span class="absolute inset-0"></span>
            { author.name }
          </h3>
          <span> - </span>
          <span class="text-tgdp-disco">{author.postcount} Post{#if (author.postcount > 1)}s{/if}</span>
        </div>
        <div class="mt-2 leading-6 text-gray-600">
          <p class="line-clamp-3 prose">{@html author.description }</p>
        </div>
        
      </div>
    </div>
  </article>
</a>