<script>
  export let data;
  export let block;
</script>

<article class="w-full max-w-3xl mx-auto py-8 px-6 lg:px-8">
  <h2 class="mb-4 text-3xl font-bold tracking-tight text-tgdp-blue sm:text-4xl">{block.title}</h2>  
  <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-16">
    <div class="relative lg:col-start-2 lg:row-start-1">
      <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
        <figure>
          <div class="aspect aspect-h-7 aspect-w-12 lg:aspect-square">
            <img class="rounded-lg object-cover object-center shadow-lg" 
              src="https://tgdp-assets.imgix.net/{block.image?.filename}?auto=format&fit=crop&w=1200&q=80"
              alt={block.image?.alt}
            >
          </div>
        </figure>
      </div>
    </div>
    <div class="prose max-w-3xl mx-auto lg:col-start-1 lg:row-start-1 lg:max-w-none">
      {@html data?.html}
    </div>
  </div>
</article>