<script>
  export let data;
  export let block;
</script>

<article class="prose w-full max-w-3xl mx-auto py-8 px-6 lg:px-8">
  <h1>{block.title}</h1>
  <div class="html-content">
    {@html data?.html}
  </div>
</article>