<script>
  import {page} from '$app/stores';   
  export let frontmatter;
  export let content_type;
</script>

<svelte:head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</svelte:head>

<ul class="flex flex-row md:flex-col items-center text-tgdp-eastern-blue md:sticky md:top-4 md:left-0">
  
  <li class="ml-1 mr-1">
    <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fthegooddocsproject.dev/{content_type}/{encodeURIComponent(frontmatter.slug)}%2F"
      onclick="window.open(this.href, 'linkedin-share', 'width=550,height=435');return false;">
      <i class="fab fa-linkedin drop-shadow"></i>
    </a>
  </li>

  <li class="ml-1 mr-1">
    <a target="_blank" href="https://twitter.com/intent/tweet?text={encodeURIComponent(frontmatter.title)}&url=https://thegooddocsproject.dev/{content_type}/{frontmatter.slug}"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=435');return false;">
      <i class="fab fa-twitter drop-shadow"></i>
    </a>
  </li>

  <li class="ml-1 mr-1">
    <a target="_blank" href="https://facebook.com/sharer.php?u=https://thegooddocsproject.dev/{content_type}/{frontmatter.slug}"
      onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
      <i class="fab fa-facebook-f drop-shadow"></i>
    </a>
  </li>

  <li class="ml-1 mr-1">
    <a target="_blank" href="https://www.xing.com/spi/shares/new?url=https://thegooddocsproject.dev/{content_type}/{frontmatter.slug}"
      onclick="window.open(this.href, 'xing-share', 'width=550,height=435');return false;">
      <i class="fab fa-xing drop-shadow"></i>
    </a>
  </li>

  <li class="ml-1 mr-1">
    <a target="_blank" href="https://thegooddocsproject.dev/{content_type}/{frontmatter.slug}"
      onclick="window.open(this.href);return false;">
      <i class="fas fa-link drop-shadow"></i>
    </a>
  </li>
</ul>
