<script>
  export let block
</script>

<div class="relative bg-tgdp-blue">
  <div class="relative h-80 overflow-hidden {block.image.color?`bg-${block.image.color}`:''} md:absolute md:left-0 md:h-full md:w-1/3 lg:w-1/2">
    <img class="h-full w-full object-cover {block.image.color?'filter grayscale mix-blend-overlay':''}" src="https://tgdp-assets.imgix.net/{block.image
      ?.filename}?auto=format&fit=crop&w=1216&q=80" alt={block.image.alt}>
  </div>
  <div class="relative mx-auto max-w-7xl py-24 sm:py-32 lg:px-8 lg:py-40">
    <div class="pl-6 pr-6 md:ml-auto md:w-2/3 md:pl-16 lg:w-1/2 lg:pl-24 lg:pr-0 xl:pl-32">
      <h2 class="text-base font-semibold leading-7 text-white">{block.toptitle}</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-tgdp-sun sm:text-4xl">{block.title}</p>
      <p class="mt-6 text-base leading-7 text-white">{block.text}</p>
      {#if block.ctas}
      <div class="mt-8">
        {#each block.ctas as cta}
          <a
            href={cta.link}
            class={cta.button
              ? 'inline-flex rounded-md bg-tgdp-disco px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-tgdp-disco/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white'
              :'text-sm font-semibold leading-6 text-white'}
          >
            {cta.link_text}
            {#if !cta.button}
              &nbsp;<span aria-hidden="true">&rarr;</span>
            {/if}
          </a>
        {/each}
      </div>
      {/if}
    </div>
  </div>
</div>
