<script>
  export let block;
</script>
<div class="my-16 w-full max-w-7xl mx-auto px-6">
  <h2 class="mb-4 text-3xl font-bold tracking-tight text-tgdp-blue sm:text-4xl">{block.title}</h2>
  <nav aria-label="Progress">
    <ol role="list" class="divide-y divide-tgdp-blue rounded-md border border-tgdp-blue md:flex md:divide-y-0">
      {#each block.steps as step, i}
      <li class="relative md:flex md:flex-1">
        <!-- Completed Step -->
        <a href={step.link} class="group flex w-full items-center">
          <span class="flex items-center px-6 py-4 text-sm font-medium">
            <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2 border-tgdp-flamingo">
              <span class="text-tgdp-flamingo">{step.value}</span>
            </span>
            <span class="ml-4 text-sm font-medium text-tgdp-disco">{step.text}</span>
          </span>
        </a>
        <!-- Arrow separator for lg screens and up -->
        {#if (i < block.steps.length-1)}
        <div class="absolute right-0 top-0 hidden h-full w-5 md:block" aria-hidden="true">
          <svg class="h-full w-full text-tgdp-blue" viewBox="0 0 22 80" fill="none" preserveAspectRatio="none">
            <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor" stroke-linejoin="round" />
          </svg>
        </div>
        {/if}
      </li>
      {/each}
    </ol>
  </nav>
</div>
